In [3]:
import os
import pandas as pd

# Your API key and project must be provided. Use the environment variables already
# wired up, or overwrite the following lines with your own values manually.
API_KEY = os.environ.get('SUST_API_KEY')
PROJECT = os.environ.get('SUST_PROJECT', 'ec-DEMO')

# Identify the name of an existing Climate Explorer portfolio below
PORTFOLIO = 'MRTG_demo_portfolio'

In [4]:
from sust.api import ClimateExplorerClient

# Initialize a client and fetch the portfolio metadata
cl = ClimateExplorerClient(API_KEY, PROJECT)
pf = cl.portfolio(PORTFOLIO)

In [5]:
# Fetch the physical risk exposure dataset metadata
ds = pf.physical_risk_exposure()

# Display the physical risk indicators available within the dataset
display(pd.DataFrame(ds.indicators.to_dicts()).sort_values('hazard').reset_index(drop=True))

,hazard,indicator,unit,value_min,value_max,value_norm,spatial_resolution
0,cyclone,obs_freq,frequency,0.0,7.0,2.00,1000.0
1,cyclone,prob,probability,0.0,1.0,0.50,50000.0
2,flood_potential,obs_score,score,0.0,1.0,1.00,250.0
3,flood_potential,inland_flood_prob,probability,0.0,1.0,1.00,4000.0
4,fundamental,extreme_precip,day,0.0,366.0,366.00,100000.0
5,fundamental,temp,degree_celsius,-60.0,50.0,50.00,100000.0
6,fundamental,precip,millimeter,0.0,10000.0,10000.00,100000.0
7,heatwave,freq,day,0.0,366.0,200.00,25000.0
8,sea_level_rise,change,meter,0.0,100.0,0.75,100000.0
9,water_stress,unified_score,score,0.0,1.0,1.00,500.0
10,water_stress,spei_norm,score,0.0,1.0,1.00,25000.0
11,water_stress,obs_score,score,0.0,1.0,1.00,500.0
12,water_stress,score,score,0.0,1.0,1.00,500.0
13,wildfire,unified_prob,score,0.0,1.0,0.50,300.0
14,wildfire,fire_kbdi_susceptibility,score,0.0,1.0,0.10,300.0
15,wildfire,burned_area_norm,score,0.0,1.0,0.10,300.0
16,wildfire,obs_score,score,0.0,1.0,1.00,500.0

In [6]:
# Fetch the risk exposure summary data, filtering to a specific
# scenario, hazard and summary window
sd = ds.summary(
    ds.scenarios.get('ssp245'),
    ds.hazards.get('wildfire'),
    ds.windows.get(30),
)

display(pd.DataFrame(sd.to_dicts()))

,risk_class,risk_score,hazard,portfolio_name,portfolio_index,entity_id,entity_name,window,window_start_year,scenario
0,LOW,0.000000,wildfire,MRTG_demo_portfolio,0,,26,30,2022,ssp245
1,LOW,0.000000,wildfire,MRTG_demo_portfolio,1,,282,30,2022,ssp245
2,LOW,0.005588,wildfire,MRTG_demo_portfolio,2,,227,30,2022,ssp245
3,LOW,0.000000,wildfire,MRTG_demo_portfolio,3,,1664,30,2022,ssp245
4,LOW,0.000000,wildfire,MRTG_demo_portfolio,4,,314,30,2022,ssp245
...,...,...,...,...,...,...,...,...,...,...
995,LOW,0.000000,wildfire,MRTG_demo_portfolio,995,,742,30,2022,ssp245
996,LOW,0.000000,wildfire,MRTG_demo_portfolio,996,,2166,30,2022,ssp245
997,LOW,0.000000,wildfire,MRTG_demo_portfolio,997,,2253,30,2022,ssp245
998,LOW,0.000000,wildfire,MRTG_demo_portfolio,998,,1090,30,2022,ssp245
999,MEDIUM,0.024352,wildfire,MRTG_demo_portfolio,999,,1179,30,2022,ssp245

In [7]:
# Fetch the risk exposure timeseries data, filtering to a specific
# scenario, indicator/hazard and measure
ts = ds.timeseries(
    ds.scenarios.get('ssp585'),
    ds.indicators.get('water_stress', 'score'),
    ds.measures.get('mid'),
)

display(pd.DataFrame(ts.to_dicts()))

,portfolio_name,portfolio_index,entity_id,entity_name,hazard,indicator,scenario,measure,1980,1981,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,MRTG_demo_portfolio,724,,748,water_stress,score,ssp585,mid,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,MRTG_demo_portfolio,740,,2377,water_stress,score,ssp585,mid,0.455771,0.455771,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2,MRTG_demo_portfolio,741,,472,water_stress,score,ssp585,mid,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3,MRTG_demo_portfolio,464,,2303,water_stress,score,ssp585,mid,0.000000,0.000000,...,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204
4,MRTG_demo_portfolio,518,,2265,water_stress,score,ssp585,mid,0.000000,0.000000,...,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,MRTG_demo_portfolio,994,,1841,water_stress,score,ssp585,mid,0.257699,0.257699,...,0.382586,0.382586,0.382586,0.382586,0.382586,0.382586,0.382586,0.382586,0.382586,0.382586
996,MRTG_demo_portfolio,995,,742,water_stress,score,ssp585,mid,1.000000,1.000000,...,0.971638,0.971638,0.971638,0.971638,0.971638,0.971638,0.971638,0.971638,0.971638,0.971638
997,MRTG_demo_portfolio,996,,2166,water_stress,score,ssp585,mid,0.364728,0.364728,...,0.180168,0.180168,0.180168,0.180168,0.180168,0.180168,0.180168,0.180168,0.180168,0.180168
998,MRTG_demo_portfolio,997,,2253,water_stress,score,ssp585,mid,0.000000,0.000000,...,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204
999,MRTG_demo_portfolio,998,,1090,water_stress,score,ssp585,mid,0.846465,0.846465,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000