In [6]:
import os
import pandas as pd

# Your API key and project must be provided. Use the environment variables already
# wired up, or overwrite the following lines with your own values manually.
API_KEY = os.environ.get('SUST_API_KEY')
PROJECT = os.environ.get('SUST_PROJECT', 'ec-DEMO')

# Identify the name of an existing Climate Explorer portfolio below
PORTFOLIO = 'MRTG_demo'

In [7]:
from sust.api import ClimateExplorerClient

# Initialize a client and fetch the portfolio metadata
cl = ClimateExplorerClient(API_KEY, PROJECT)
pf = cl.portfolio(PORTFOLIO)

In [8]:
# Fetch the physical risk exposure dataset metadata
ds = pf.physical_risk_exposure()

# Display the physical risk indicators available within the dataset
display(pd.DataFrame(ds.indicators.to_dicts()).sort_values('hazard').reset_index(drop=True))

,hazard,indicator,unit,value_min,value_max,value_norm,spatial_resolution
0,cyclone,obs_freq,frequency,0.0,2.0,2.00,1000.0
1,cyclone,prob,probability,0.0,1.0,0.50,50000.0
2,flood_potential,obs_score,score,0.0,1.0,1.00,1000.0
3,flood_potential,inland_flood_prob,probability,0.0,1.0,1.00,4000.0
4,fundamental,temp,degree_celsius,-5.0,45.0,45.00,100000.0
5,fundamental,precip,millimeter,0.0,5000.0,5000.00,100000.0
6,fundamental,extreme_precip,day,0.0,365.0,365.00,100000.0
7,heatwave,freq,day,0.0,365.0,200.00,100000.0
8,sea_level_rise,change,meter,-0.2,2.0,0.75,100000.0
9,water_stress,spei_norm,score,-3.0,3.0,3.00,100000.0
10,water_stress,score,score,0.0,4.0,4.00,500.0
11,wildfire,obs_score,score,0.0,1.0,1.00,300.0
12,wildfire,burned_area_norm,score,0.0,1.0,1.00,6900.0
13,wildfire,fire_kbdi_susceptibility,score,0.0,1.0,1.00,300.0

In [9]:
# Fetch the risk exposure summary data, filtering to a specific
# scenario, hazard and summary window
sd = ds.summary(
    ds.scenarios.get('ssp245'),
    ds.hazards.get('wildfire'),
    ds.windows.get(30),
)

display(pd.DataFrame(sd.to_dicts()))

,risk_class,risk_score,hazard,portfolio_name,portfolio_index,entity_id,entity_name,window,window_start_year,scenario
0,MEDIUM,0.000516,wildfire,MRTG_demo,0,,26,30,2022,ssp245
1,LOW,0.000000,wildfire,MRTG_demo,1,,282,30,2022,ssp245
2,HIGH,0.001527,wildfire,MRTG_demo,2,,227,30,2022,ssp245
3,HIGH,0.004987,wildfire,MRTG_demo,3,,1664,30,2022,ssp245
4,LOW,0.000000,wildfire,MRTG_demo,4,,314,30,2022,ssp245
...,...,...,...,...,...,...,...,...,...,...
995,MEDIUM,0.000361,wildfire,MRTG_demo,995,,742,30,2022,ssp245
996,LOW,0.000000,wildfire,MRTG_demo,996,,2166,30,2022,ssp245
997,LOW,0.000000,wildfire,MRTG_demo,997,,2253,30,2022,ssp245
998,HIGH,0.002232,wildfire,MRTG_demo,998,,1090,30,2022,ssp245
999,HIGH,0.001188,wildfire,MRTG_demo,999,,1179,30,2022,ssp245

In [10]:
# Fetch the risk exposure timeseries data, filtering to a specific
# scenario, indicator/hazard and measure
ts = ds.timeseries(
    ds.scenarios.get('ssp585'),
    ds.indicators.get('water_stress', 'score'),
    ds.measures.get('mid'),
)

display(pd.DataFrame(ts.to_dicts()))

,portfolio_name,portfolio_index,entity_id,entity_name,hazard,indicator,scenario,measure,1980,1981,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,MRTG_demo,0,,26,water_stress,score,ssp585,mid,0.058652,0.058652,...,0.010459,0.010459,0.010459,0.010459,0.010459,0.010459,0.010459,0.010459,0.010459,0.010459
1,MRTG_demo,1,,282,water_stress,score,ssp585,mid,0.295906,0.295906,...,1.941825,1.941825,1.941825,1.941825,1.941825,1.941825,1.941825,1.941825,1.941825,1.941825
2,MRTG_demo,2,,227,water_stress,score,ssp585,mid,0.129596,0.129596,...,0.116354,0.116354,0.116354,0.116354,0.116354,0.116354,0.116354,0.116354,0.116354,0.116354
3,MRTG_demo,3,,1664,water_stress,score,ssp585,mid,0.532317,0.532317,...,0.321315,0.321315,0.321315,0.321315,0.321315,0.321315,0.321315,0.321315,0.321315,0.321315
4,MRTG_demo,4,,314,water_stress,score,ssp585,mid,0.974886,0.974886,...,1.641092,1.641092,1.641092,1.641092,1.641092,1.641092,1.641092,1.641092,1.641092,1.641092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,MRTG_demo,995,,742,water_stress,score,ssp585,mid,4.000000,4.000000,...,0.971638,0.971638,0.971638,0.971638,0.971638,0.971638,0.971638,0.971638,0.971638,0.971638
996,MRTG_demo,996,,2166,water_stress,score,ssp585,mid,0.364728,0.364728,...,0.180168,0.180168,0.180168,0.180168,0.180168,0.180168,0.180168,0.180168,0.180168,0.180168
997,MRTG_demo,997,,2253,water_stress,score,ssp585,mid,0.000000,0.000000,...,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204,0.001204
998,MRTG_demo,998,,1090,water_stress,score,ssp585,mid,0.846465,0.846465,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
999,MRTG_demo,999,,1179,water_stress,score,ssp585,mid,0.846465,0.846465,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000