In [1]:
import os
import pandas as pd

# Your API key must be provided, and a project may optionall be selected.
# Use the environment variables already wired up, or overwrite the
# following lines with your own values manually.
API_KEY = os.environ.get('SUST_API_KEY')
PROJECT = os.environ.get('SUST_PROJECT', 'ec-DEMO')

# Identify the name of an existing Climate Explorer portfolio below
PORTFOLIO = 'MRTG_demo' 

assert PORTFOLIO, "must set PORTFOLIO"

In [2]:
from sust.api import ClimateExplorerClient

cl = ClimateExplorerClient(API_KEY, project=PROJECT)

pf = cl.portfolio(PORTFOLIO)

In [3]:
from sust.api import RiskTypes

ts = pf.assets(labels={'type': 'Land'}).physical_risk_timeseries(risk_type=RiskTypes.FIRE)

df = pd.DataFrame(ts.to_dicts())
df[0:10]

,portfolio_name,portfolio_index,entity_id,entity_name,risk_type,scenario,1980,1981,1982,1983,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,MRTG_demo,0,,26,fire,ssp585,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
1,MRTG_demo,1,,282,fire,ssp585,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
2,MRTG_demo,2,,227,fire,ssp585,0.205056,0.272638,0.076293,0.140596,...,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
3,MRTG_demo,3,,1664,fire,ssp585,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
4,MRTG_demo,4,,314,fire,ssp585,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
5,MRTG_demo,5,,171,fire,ssp585,0.143895,0.269912,0.000000,0.195947,...,2.31409,1.972778,2.314595,2.54022,1.775496,1.743828,2.34705,2.993328,1.742691,3.127484
6,MRTG_demo,6,,177,fire,ssp585,0.001641,0.000000,0.000000,0.004529,...,0.00000,0.000000,0.000000,0.00000,0.000000,0.035425,0.00000,0.000000,0.000000,0.000000
7,MRTG_demo,7,,2173,fire,ssp585,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
8,MRTG_demo,8,,196,fire,ssp585,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
9,MRTG_demo,9,,2402,fire,ssp585,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000

In [7]:
from sust.api import Scenarios

sm = pf.assets().physical_risk_summary(scenario=Scenarios.SSP585)

df = pd.DataFrame(sm.to_dicts())
df = df[['portfolio_index', 'entity_name', 'scenario', 'fire_label', 'fire_score']]

df[df.entity_name == '37']

     portfolio_index entity_name scenario fire_label  fire_score
982              982          37   ssp585     MEDIUM    0.004518